@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap');

:root {
  /* Colors: */
  --main: #957427;
  --white: #fff;
  --black: #000;
  --muted-text: #848484;
  --card-raduis: 20px;
  /* rgba */
  --mainOp: 149, 116, 39;
  --secondryOp: 254, 191, 9;
  --whiteOp: 255, 255, 255;
  --blackOp: 0, 0, 0;
  /* variables */
  --gutter-x: 8.5rem;
  --dir-multiplier: -1;
  --menu-offset: 280px;
}

[dir="ltr"] {
  --dir-multiplier: 1;
}
@media (max-width: 992px) {
  :root {
    --gutter-x: 1.5rem;
  }
}

* {
  font-family: "Beiruti", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.35s linear;
  -webkit-transition: 0.35s linear;
  -moz-transition: 0.35s linear;
  -ms-transition: 0.35s linear;
  -o-transition: 0.35s linear;
}

/* scrollbar */
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main);
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.63);
}

/* select text */
::selection {
  color: var(--white);
  background-color: rgba(var(--mainOp), 0.75);
}

/* placeholder */
.form-floating label,
::placeholder {
  color: #6B6B6B;
  font-size: 16px;
}

.cut-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#scrollUp {
  display: none;
}

.fixed-icon {
  position: fixed;
  bottom: 60px;
  inset-inline-start: 30px;
  z-index: 9;
}

.fixed-icon a i {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main);
  color: var(--white);
  backdrop-filter: blur(18px);
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
  transition: .5s;
  z-index: 8708;
  font-size: 20px;
  width: 54px;
  height: 54px
}

[dir='ltr'] [class*="arrow"] {
  transform: rotatey(180deg);
  -webkit-transform: rotatey(180deg);
  -moz-transform: rotatey(180deg);
  -ms-transform: rotatey(180deg);
  -o-transform: rotatey(180deg);
}

/* -- global -- */
body {
  background: var(--white);
}

[dir=rtl] [type=email],
[dir=rtl] body,
[type=number],
[type=tel],
[type=url] {
  direction: rtl !important
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  margin-bottom: 0rem !important;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: var(--white) !important;
  font-size: 1.25em !important;
}

ul {
  padding: 0rem !important;
  list-style: none;
}

.container-fluid {
  --bs-gutter-x: var(--gutter-x) !important;
  padding-left: calc(var(--bs-gutter-x)* .5) !important;
  padding-right: calc(var(--bs-gutter-x)* .5) !important;
}


/* inputs */
.form-control {
  padding: 0.75rem 0.75rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--balck);
  border: 1px solid #DBDBDB;
  border-radius: 0.45rem;
  transition: 0.15s ease-in-out;
  box-shadow: none !important;
  -webkit-border-radius: 0.45rem;
  -moz-border-radius: 0.45rem;
  -ms-border-radius: 0.45rem;
  -o-border-radius: 0.45rem;
}

.form-control:focus {
  border: 1px solid var(--main) !important;
  outline: none !important;
}

/* buttons */
.main-outline-btn,
.main-btn {
  border-radius: 8px;
  width: max-content;
  padding: 10px 40px;
  display: block;
  background: var(--main) !important;
  transition: all 0.3s ease-out;
  color: var(--white) !important;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.main-outline-btn {
  background: transparent !important;
  border: 1px solid transparent;
  color: var(--main) !important;
}

.main-outline-btn:hover {
  border-color: var(--main) !important;
}

/* classes for colors */
.main {
  color: var(--main) !important;
}

.secondry {
  color: var(--main) !important;
}

.bg-main {
  background-color: var(--main) !important;
  color: var(--white) !important;
}

.bg-secondry {
  background-color: var(--main);
  color: var(--white) !important;
}

.bg-card {
  background: var(--card-bg) !important;
}

/* float link */
.link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}


/* Carousel */
.container-fluid:has(.owl-carousel) {
  padding-inline-end: 0 !important;
}

.owl-carousel .owl-stage {
  display: flex;
}

/* download app */
.apps-btns {
  gap: 1rem
}
.apps-btns a {
  display: inline-flex;
  align-items: center;
  padding: 8px 32px;
  text-align: start;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.apps-btns a *{
  line-height:.9;
}
.apps-btns img {
  object-fit: scale-down;
  width: 26px;
  margin-inline-end: 10px;
  transition: .3s
}
.apps-btns span {
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
}
.apps-btns h5 {
  font-weight: 700;
  margin: 0;
}

/* == header hero wrapper == */
.footer-links .main-btn,
.header-hero-wrapper .main-btn{
  background: var(--white) !important;
  color: var(--main) !important;
}

/* == navbar == */
.navbar {
  position: relative;
  z-index: 2;
}
.navbar-nav {
  justify-content: space-evenly;
  margin: 0 auto;
}

.navbar .navbar-brand img {
  width: 200px !important;
}
.navbar .nav-link.active {
  font-weight: bold;
}

/* .navbar-light .navbar-toggler-icon {
  background-image: url(../images/Group\ 67653.png);
} */

/* breadcrumb */


/* -- home page -- */
.header-hero-wrapper {
  position: relative;
  z-index: 9;
  background: var(--main);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  border-radius: 0px 0px 40px 40px;
  -webkit-border-radius: 0px 0px 40px 40px;
  -moz-border-radius: 0px 0px 40px 40px;
  -ms-border-radius: 0px 0px 40px 40px;
  -o-border-radius: 0px 0px 40px 40px;
  overflow: hidden;
  mask-image:url('../images/hero_wave.png');
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center bottom;
  -webkit-mask-position: center bottom;
}

.footer-links .apps-btns .main-btn *,
.heroSec .apps-btns .main-btn *{
  color: #000 !important;
}
.footer-links .apps-btns .main-btn img,
.heroSec .apps-btns .main-btn img{
  filter:brightness(0);
}

.hero-content {
  padding-top: 16%;
}

/* -- counter section -- */
/* .about-txt p {
  color: #6B6B6B;
  font-size: 22px;
} */
.about-txt.cut-text{
  -webkit-line-clamp: 4;
}

.app-features li{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-inline-end: 10%;
  margin-bottom: 1.2rem;
}
.app-features li .shape{
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-features li .shape img{
  width: 75%;
}


/* blogs */
.blogs .card {
  border-radius: calc(var(--card-raduis) * .75);
  -webkit-border-radius: calc(var(--card-raduis) * .75);
  -moz-border-radius: calc(var(--card-raduis) * .75);
  -ms-border-radius: calc(var(--card-raduis) * .75);
  -o-border-radius: calc(var(--card-raduis) * .75);
  border: none;
}
.blogs .blog-grid .card {
  gap: 1.4rem;
  flex-direction: row;
  grid-column: span 7;
  grid-row: span 1;
  padding: 1.2rem !important;
  background: var(--card-bg);
}
.blogs .card .blog-img {
  border-radius: var(--card-raduis);
  -webkit-border-radius: var(--card-raduis);
  -moz-border-radius: var(--card-raduis);
  -ms-border-radius: var(--card-raduis);
  -o-border-radius: var(--card-raduis);
  overflow: hidden;
}
.blogs .card .card-img-top {
  aspect-ratio: 13/9;
  object-fit: cover;
}
.blogs .blog-description.cut-text {
  -webkit-line-clamp: 2;
}
.blogs .card .more {
  text-decoration: underline;
}

/* -- footer -- */
.footer-links .img-fluid{
  width: 200px;
}
.footer-links {
  position: relative;
  z-index: 9;
  background: var(--main);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  mask-image: url('../images/footer_wave.png');
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center bottom;
  -webkit-mask-position: center top;
  padding-block: 8rem 2rem;
  text-align: center;
}

footer .sub-footer img {
  width: 130px;
  object-fit: scale-down;
}

footer .sub-footer span {
  color: #001B47;
  font-size: 20px;
}

/* -- contactUs page -- */
.contactUs .contact-data {
  border-radius: var(--card-raduis);
  -webkit-border-radius: var(--card-raduis);
  -moz-border-radius: var(--card-raduis);
  -ms-border-radius: var(--card-raduis);
  -o-border-radius: var(--card-raduis);
  padding: 2.85rem 3.6rem;
}

.contactUs .contact-data .contact-info a {
  color: white !important;
}

.contactUs .contact-data .contact-info ul li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contactUs .contact-data .contact-info ul li i {
  font-size: 28px;
}

.contactUs .contact-data .social {
  display: flex;
  justify-content: space-between;
}

.social i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main);
  font-size: 19px;
}

.contactUs .contact-data .social div a {
  color: var(--main);
  font-size: 18px;
}

/* form */
.contactUs .contact-form {
  border-radius: var(--card-raduis);
  background-color: #fcfcfc;
  -webkit-border-radius: var(--card-raduis);
  -moz-border-radius: var(--card-raduis);
  -ms-border-radius: var(--card-raduis);
  -o-border-radius: var(--card-raduis);
}

#contact_map {
  height: 450px;
  border-radius: var(--card-raduis);
  -webkit-border-radius: var(--card-raduis);
  -moz-border-radius: var(--card-raduis);
  -ms-border-radius: var(--card-raduis);
  -o-border-radius: var(--card-raduis);
  overflow: hidden;
}

#contact_map iframe {
  width: 100%;
  height: 100%;
}

/* login */
.login .input-group i {
  color: #707070;
}

#verification-input {
  direction: ltr;
  margin: 1.5rem 0;
  margin-inline-start: auto;
  display: flex;
  justify-content: end;
}

#verification-input>input {
  width: 19%;
  height: 65px;
  padding: 10px;
  text-align: center;
  margin: 0 6px;
  font-size: 28px;
  background: #fafafa;
  border: 1px solid #e9e9e9;
  background: #FCFCFC 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001C;
  border-radius: 8px;
  color: var(--main);
}

#verification-input input:focus {
  border-color: var(--main) !important;
  background: #FCFCFC 0% 0% no-repeat padding-box;
}

/* -- profile page -- */

.profile .personal-title {
  background-color: var(--main);
  color: var(--white);
  margin: 0px 0px 10px 0px;
  border-radius: 20px 20px 0px 0px;
  padding: 1.3rem 1rem !important;
}

.profile .log-out {
  color: #FF0000;
}

.profile .nav .nav-link i {
  color: #404040;
  font-size: 19px;
}

.profile .log-out {
  border-radius: 0px 0px 20px 20px;
  border: none;
}

.profile .nav .nav-link {
  background-color: var(--white);
  border-radius: 0px;
  color: #404040;
  padding: 1.2rem;
  text-align: right;
  margin: 6px 0px;
  overflow: hidden;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.profile-nav-sm {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  background-color: var(--main);
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.profile-nav-sm img {
  width: 25px;
}

/* active link */
.profile .nav .nav-link.active {
  position: relative;
  color: #1a1a1a;
  font-weight: bold;
  background-color: #2160b210;
}

.profile .nav .active::after {
  content: "";
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 4px;
  height: 100%;
  background-color: var(--main);
}

.profile .nav .nav-link.active i {
  color: var(--main);
}

/* profile data col */
.profile .profile-data .profile-pic-icon {
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 3;
  opacity: 0;
  background-color: rgba(var(--mainOp), .5);
  color: var(--white);
  font-size: xx-large;
  border-radius: 0.35rem;
  transition: 0.2s;
}

.profile .profile-data .profile-pic {
  width: 100px;
  overflow: hidden;
  height: 100px;
  border-radius: 50%;
}

.profile .profile-data .profile-pic img {
  object-fit: cover;
  height: 100%;
}

.profile .profile-data .profile-pic input {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
}

.profile .profile-data .profile-pic:hover .profile-pic-icon {
  opacity: 1;
}


/* -- media -- */
@media (max-width: 1024px) and (min-width: 991.8px) {
  .hero-content {
    width: 60%;
  }
  .hero-content p{
    width: 60%;
  }
 }
@media (max-width: 991.8px) {
  :root {
    --gutter-x: 4rem;
  }

  /* navbar */
  .navbar-brand {
    order: 1;
  }

  .navbar-toggler {
    order: 2;
  }

  .navbar-collapse {
    order: 3;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }

  .navbar-collapse.show .navbar-nav {
    width: max-content !important;
    margin: unset;
  }

  .navbar-collapse.show .navbar-nav .nav-item {
    margin-block: 8px;
  }

  /* hero section */
  .heroSec {
    height: 75vh;
    padding-block: 4rem 8rem;
  }
  

  .hero-content {
    width: 78%;
  }

  .heroSec .hero-image {
    width: 130%;
    height: unset;
  }

  /* profile */
  .profile .profile-data .my-aqars .card {
    flex-direction: column;
  }

  .profile .profile-data .my-aqars .card .card-img {
    width: 100%;
  }

  .profile .profile-data .my-aqars .card .card-img .card-img-top {
    height: 200px;
  }

  .profile .profile-data .my-aqars .card .card-body p.secondry-color+div {
    padding: 1rem 0rem;
  }

  .profile .profile-data .my-aqars .card .delete {
    padding: 0.5rem;
  }

  /* footer */
  /* .footer-links .img-fluid {
    max-width: 288px;
    margin: auto;
  } */

  #map {
    width: 100%;
    height: 180px;
  }
}


@media (max-width: 991.8px) and (min-width: 767.8px) {
  footer .footer-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  footer .footer-images a{
    width: 42%;
  }
  .footer-links .img-fluid {
    margin: unset;
  }
 }

/* @media (max-width: 767.8px) {
  .profile .profile-nav {
    display: none;
  }
} */

@media (max-width: 576px) {
  :root {
    --gutter-x: 1.5rem;
  }

  .header-hero-wrapper {
    background-size: auto;
  }

  .heroSec {
    height: 50vh;
  }

  .hero-content {
    width: 100%;
  }

  .toggle-profile-nav,
  .toggle-side-menu-classification {
    display: block;
  }

  body:has(.filter.show) #filter ,
  body:has(.classification.show) .toggle-side-menu-classification {
    transform: translate(var(--menu-offset));
    -webkit-transform: translate(var(--menu-offset));
    -moz-transform: translate(var(--menu-offset));
    -ms-transform: translate(var(--menu-offset));
    -o-transform: translate(var(--menu-offset));
  }

  .filter,
  .profile-nav,
  .classification {
    position: fixed;
    top: 0;
    inset-inline-start: calc(var(--menu-offset) * -1);
    width: var(--menu-offset);
    height: 100vh;
    background: var(--main);
    z-index: 88;
    padding: 10px 16px;
    border-radius: 0;
    transition: all 0.3s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
  .filter.show,
  .profile-nav.show,
  .classification.show {
    inset-inline-start: 0;
  }

  .heroSec .build-options {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  .classification-content {
    padding: 22px 16px;
  }

  .classification-content>div {
    width: 100%;
  }

  .classification-content .form-select::before,
  .classification-content .nice-select::before {
    width: 100%;
    height: 1px;
    top: 100%;
    border-inline-end: unset;
    border-bottom: 1px solid rgba(var(--blackOp), .15);
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }

  .close-profile-nav,
  .close-filter,
  .close-side-menu-classification {
    width: 26px;
    height: 26px;
    color: var(--white);
    display: flex;
    opacity: 1;
    background-color: var(--main);
    box-shadow: 0px 3px 6px rgba(var(--blackOp), 0.29);
    align-items: center;
    justify-content: center;
    z-index: 9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .filter ::placeholder,
  .filter .form-check label {
    color: var(--white);
  }

  #filter {
    display: block;
  }


  .profile .personal-title {
    background-color: transparent;
    color: var(--white);
    margin: 0px 0px 24px 0px;
    border-radius: 0;
    padding: 0 !important;
    font-weight: bold;
  }

  .profile .nav .nav-link,
  .profile .nav .nav-link i {
    background: transparent;
    color: var(--white);
  }

  .profile .nav .nav-link.active {
    color: var(--main);
    background-color: rgba(var(--secondryOp), .1);
  }

  .profile .nav .nav-link.active i {
    color: var(--main);
  }

  /* home blogs */
  .blogs .blog-grid .card {
    grid-column: span 12;
  }

  /* .count-border {
    padding-inline: 1.85rem
  } */
  /* footer */
  .footer-links .img-fluid {
    max-width: 238px;
    margin: auto;
  }

  #map {
    width: 100%;
    height: 180px;
  }

  footer .sub-footer span {
    font-size: 17px;
  }

  footer .sub-footer img {
    width: 110px;
  }

  /* estate images */
  .estates .gallery .gallery-container .img:nth-child(-n + 5) {
    grid-column: span 4;
  }

  .estates .gallery .gallery-container .img:nth-child(2) {
    grid-column: span 8;
  }

  footer .footer-images a {
    display: block;
    width: 238px;
  }
}

@media (min-width: 767.8px) {
  .profile-nav-sm {
    display: none;
  }
}